.header-main{
  background-color: rgb(32, 180, 136);
}
.nav-link {
  color: azure !important;
  font-weight: bolder;
}
.blog-name {
  flex: auto;
  color: rgb(255, 255, 255)  !important;
  font-weight: bolder;
}